body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(247, 167, 207);
}

#container-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
  }

#title{
    border: magenta 2px solid;
    background-color: snow;
    border-radius: 10px;
}

#container{
    background-color: blueviolet;
    border: cornsilk 2px solid;
    border-radius: 20px;
    box-shadow: darkorchid 2px 2px 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    color: white;
}

#container-img{
    display: flex;
    justify-content: center;
}


#img{
    width: 70%;
}

#box-input{
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    background-color: violet;
    border-radius: 10px;
    display: flex;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
}

#box-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}


#ipt1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

#ipt2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}
#num1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


#num2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#button{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    width: 40%;
}


#res{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}